{% extends "base.twig" %}
{% block title %}Unexpected error :'({% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Nooooooooo, we've got a problem./h1>
        <p>{{ message }}</p>
    </div>
{% endblock %}